@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik+Iso&display=swap');
/*Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena*/

header{
	background-color: #5F9EA0;
}

body{
	font-family:'Josefin Sans';
}
inicio{
	background: cover;
}

.subtext-inicio{
	font-size: 20px;
}

h5{
	font-size: 30px;
}

.drk:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.5;
  z-index: 1;
}

.carousel-caption {
  z-index: 2;
	display: grid !important;
	align-content: center;
	height: 100%;
	margin-top: 2%;
}

.carousel-indicators{
	margin-bottom: 5%;
}

/*Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena*/

#acerca-de-mi{
	background-color: #EDEDED;
	padding-bottom: 3%;
}

.acerca{
	text-align: center;
	padding-top: 5%;
	color: #324d4d;
}

.subtext-line{
	width: 5%;
	text-align: center;
	margin: 0 auto;
	border-width: 4px;
	background-color: #324d4d; height: 3px; border: 0;
	opacity: 90%;
}

.perfil-img{
	border-radius: 50%;
	width: 20%;
	margin-top: 5%;
}

.nombre{
	padding-top: 3%;
}

.descripcion-acerca{
	text-align: center;
	padding-top: 1%;
	font-size: 20px;
}


.card-foto{
	border-radius: 3%;
	padding-bottom: 2%;
}
/*Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena*/

#servicio{
	background-color: #cadede;
	padding-bottom: 3%;
	
}
.iconos-servicios{
	font-size: 130px;
	text-align: center;
}

.text-servicios{
	font-size: 30px;
}

.parentesis-servicios{
	font-size: 17px;
	margin-bottom: 10%;
}

.color1{
	background-color: #5F9EA0;
	color:#FFF;
}

.color2{
	background-color: #508283;
	color:#FFF;
}

.color3{
	background-color: #406768;
	color:#FFF;
}

.color4{
	background-color: #324d4d;
	color:#FFF;
}

.info{
	margin: 2% 0 3%;
	border: 0 none;
}

/*Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena*/
#proyectos{
	background-color: #FFFFFF;
	margin-bottom: 4%;
}

.titulo-proyectos{
	text-align: center;
	padding-top: 15%;
}

.video{
	margin-top: 5%;
}

.subtext-line-proyectos{
	width: 5%;
	text-align: center;
	margin: 0 auto;
	border-width: 4px;
	background-color: #324d4d; height: 3px; border: 0;
	opacity: 90%;
}

.fotos{
	margin-top: 3%;
}

.fotografia{
	margin-top: 8%;
}

/*OVERLAY TEXT*/

.txt-overlay{
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

/*Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena*/

#contacto{
	background-color: #cadede;
	padding-bottom: 4%;
}

.titulo-contacto{
	font-size: 18px;
	font-weight: 700;
	color: #324d4d;
	
}

.title-form{
	color: #324d4d;
	font-weight: 500;
}

.form-group{
	padding: 1% 0 1%;
	margin-left: 4%
}

.form-control{
	width: 90%;
}
.btn{
	background-color: #324d4d;
	border: none;
	padding: 2% 3%;
	margin-top: 2%;
}

.btn:hover{
	background-color: #5F9EA0;
	color:#fff;
}

.redes a{
	font-size: 80px;
	color: #324d4d;
	text-decoration: none!important;
}

.redes a:hover{
	color: #5F9EA0;
}

.redes-iconos{
	padding: 12% 0 12%;
}

.form{
	margin-bottom: 30px;
}
/*Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena Kimberly Mairena*/

footer{
	background-color: #5F9EA0;
	font-weight: 500;
	font-size: 17px;
	color: #324d4d;
	padding: 2% 0 1%;;
	text-align: center;
}






